#heading {
  margin-right: 100px;
}

h1 {
  font-family: Bookman, serif;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
}

h4 {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10pm;

}
    
p {
  color: black;
  margin-top: 5px;
  margin-right: 80px;
  margin-left: 5px;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
    }

li {
  margin-top: 5px;
  margin-bottom: 5px;
}
  
